bin/
obj/
.vs/
.idea/
artifacts
Jellyfin.Plugin.MediathekViewDL.sln.DotSettings.user
jellyfin-config/
artifacts
node_modules/
configPageVueJS.js
Jellyfin.Plugin.MediathekViewDL/Configuration/Web/MediathekViewDLVueJS.js
